$lightgrey: #eff1f1;
$darkgrey:#33393f;
html{
    font-family: 'Roboto Condensed', sans-serif;
    color: $darkgrey;
}
.navigation {
    background-color: #EFF1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 5.5em;
        margin-left: 10%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin-right: 10%;
        width: 30%;
        font-size: 1em;
    }

    &__item a {
        text-decoration: none;
        color: #838484;

        &:hover {
            color: #33393F;
        }
    }
}

a{
    color:blue;
}

footer {
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $darkgrey;
    color:white;
    nav{font-size:1em}
    h3{font-size:1.25em;}
        a {
            &:hover {
                color: white;
            }
        }
}
.footer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__text{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width:80%;
    margin:0 auto;
    a {
      &:hover {
                color: $darkgrey;
            }
        }
}
.card__section{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}
.coffee__card{
    display:flex;
    flex-direction: column;
    width:48%;
    background-color: $lightgrey;
    margin:1%;
    h2{
        border-bottom: 1px solid lighten($darkgrey,50%);
        font-size: 24px;
    }
}
.tasting__notes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flavour{font-style: italic;
font-size:16px;}

@media screen and (max-width: 480px){
    .card__section{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .coffee__card{width:90%;
    }
        .container {
            margin-right: 2%;
            margin-left: 2%;
            width: 96%;
        }
    .navigation {
      flex-direction: column;
    
    &__logo {
    margin-left: 0%;
            }
        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            margin-right: 10%;
            width: 90%;
            font-size: 1em;
            align-items: center;
            align-content: flex-end;
            margin-right: 10%;
        }
        }
    

}
