html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #33393f;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

$darkgrey: #33393f;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

// navigation styling

.navigation {
  background-color: #eff1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 5.5em;
    margin-left: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-right: 10%;
    width: 30%;
    font-size: 1em;
  }
  &__item a {
    text-decoration: none;
    color: #838484;
    &:hover {
      color: #33393f;
    }
  }
}

// headlines-header styling
.header {
  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 300;
  }
  h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
  }
}

// homeimage styling

.homeimage img {
  max-width: 100%;
}

// address, opening hours styling

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__headline {
    font-weight: 400;
    text-transform: uppercase;
  }
  &__paragraph {
    line-height: 1em;
  }
}

// map of the address styling
.map iframe {
  width: 100%;
  text-align: center;
  margin-bottom: -5%;
}

a {
  color: blue;
  &:hover {
    color: white;
  }
}
footer {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgrey;
  color: white;
  nav {
    font-size: 1em;
  }
  h3 {
    font-size: 1.25em;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .container {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
  .navigation {
    flex-direction: column;
    &__logo {
      margin-left: 0%;
    }
    &__list {
      flex-direction: row;
      justify-content: space-between;
      margin-right: 1%;
      width: 90%;
    }
  }

  .homeimage img {
    max-width: 100%;
  }
  .info {
    flex-direction: column;
  }
}
